.maincontainer{
           width: 100vw;
           height: 100vh;
            background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,0.6115488431700805) 0%, rgba(252,70,107,0.3958625686602766) 100%);

           display: flex;
           justify-content: center;
           align-items: center;

}
.headingtext{
             font-size: 22px;
            font-weight: bold;
            color: #FFF;
            width: 40%
            padding:5px;
            display: flex;
            justify-content: flex-start;
        }
.box{
      background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(125,185,255,1) 100%);
    padding: -5px;
    width:70%;
}
.box1{
    width: 87%;
    height:auto;
    background: #FFF5EE;
}
.box3{
    width: 100%;
    height:auto;
    background: #FFF5EE;
}
.boxrow{
     display: flex;
           justify-content: center;
}
.boxheading{
           width: 100%;
           height: 17%;
           background: linear-gradient(-135deg, #c850c0, #4158d0);
           display: flex;
           align-items: center;
}
.headingtextinterface{
            font-size: 22px;
            font-weight: bold;
            color: #FFF5EE;
            width: 40%;
            display: flex;
            margin-left:5px;
            align-items: center;
           justify-content: flex-center;
        }
.btnrow{
             display: flex;
           justify-content: center;
        }
        .btnstyle{
            width: 70%;
            background: linear-gradient(-135deg, #c850c0, #4158d0);

        }
         .messagestyle{
           font-size: 20px;
            font-weight: bold;
            color: #00008b;
        }
@media screen and (max-width: 1000px) {
  .boxrow {
    display: block;
  }
}


*{
	box-sizing: border-box;
}

.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}



.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/

@media(max-width: 1100px){
	.table thead{
		display: none;
	}
	.maincontainer{
	   height: auto;
	}
	.box1{
	   margin-top: 10px;
	   width: 70%
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}

