<!DOCTYPE html>
<link href="/static/addblog.css" rel="stylesheet">
<script>
    $(document).ready(function(){
    $('select').formSelect();
  });
</script>
<html lang="en">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <meta charset="UTF-8">
    <title>AddBlog Interface</title>
    <style>

    </style>
</head>
<body>
<form action="/submitblog" method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="maincontainer">
       <div class="box">
            <div class="boxheading" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;">
                <span class="headingtextinterface">Add Blog</span>
                <span style="width: 65%; display: flex; justify-content: flex-end; padding: 5px;"><a href="http://localhost:8000/displayblog"><i class="material-icons" style="color: #FFFFFF; font-size: 24px;">toc</i></a></span>
            </div>
             <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">add_shopping_cart</i>
                       <select id="blogtype" name="blogtype" style="color: yellow;" >
                           <option value="" disabled selected>Choose your option</option>
                           <option value="Food blogs">Food blogs</option>
                           <option value="Health and fitness blogs">Health and fitness blogs</option>
                           <option value="Photography blogs">Photography blogs</option>
                           <option value="Personal blogs">Personal blogs</option>
                       </select>
                       <label>Select Blog type</label>
                    </div>

                </div>
            <div class="row" style="margin-top: -20px;">
                <div class="input-field col s12">
                     <i class="material-icons prefix">mode_edit</i>
                     <input id="title" name="title" type="text" class="validate">
                     <label for="title">Title</label>
                </div>
            </div>

           <div class="row">
               <div class="input-field col s12">
                   <i class="material-icons prefix">question_answer</i>
                   <textarea rows="20" cols="50" name="description"></textarea>
               </div>
           </div>
           <div class="row">
               <div class="input-field col s12">
                   <div class="file-field input-field">
                       <div class="btn" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">
                             <span>File</span>
                             <input type="file" name="blogimage" >
                       </div>
                       <div class="file-path-wrapper">
                           <input class="file-path validate" type="text">
                       </div>
                   </div>
               </div>
           </div>

           <div class="row">
               <div class="col s6 btnrow">
                   <button class="btn waves-effect waves-light btnstyle" type="submit" name="action" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">Submit
                   <i class="material-icons right">send</i>
                   </button>
               </div>

               <div class="col s6 btnrow">
                   <button class="btn waves-effect waves-light btnstyle" type="reset" name="action" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);">Reset
                   <i class="material-icons right">delete</i>
                   </button>
               </div>
           </div>

        <div class="row">
            <div class="col s12 btnrow">
                 <span class="messagestyle">{{message}}</span>
            </div>
        </div>
       </div>
       </div></div>
</form>
</body>
<script>
    $(document).ready(function(){
    $('select').formSelect();
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/category.css" rel="stylesheet">
    </html>